body {
	background: #2c2c2c
}

#banner {
	width:100%;
}

.principal{
	padding: 90px;
}

.titulo-principal {
	font-size: 40px;
	color: #ffffff;
	padding-left: 50px;
}

.titulo-centralizado {
	font-size: 40px;
	color: #ffffff;
	text-align: center
}

p {
	color: #ffffff;
	font-size: 20px;
	text-align:center;
	
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	color: #ffffff;
	padding: 20px;
}

ul {
	color: #ffffff;
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 100%;
}